[workspace]
channels = ["https://repo.prefix.dev/meta-forge", "conda-forge"]
name = "nuefs"
platforms = ["linux-64"]
version = "0.1.0"

[tasks]
build = "maturin build --release"
develop = "maturin develop --uv"
check = "cargo check"

[dependencies]
rust = "*"
maturin = "*"
uv = "*"

[pypi-dependencies]
maturin-import-hook = "*"
sheaves = { path = "../sheaves", editable = true }
