[workspace]
channels = ["https://repo.prefix.dev/meta-forge", "conda-forge"]
name = "nuefs"
platforms = ["linux-64"]
version = "0.1.0"

[tasks]
check = "cargo check"
kill = "pkill -9 nuefsd || true"

[dependencies]
rust = "*"
python = "=3.12"
pygit2 = "*"
humanize = "*"
pathspec = "*"
pydantic = ">=2.0"
packageurl-python = "*"
universal-pathlib = "*"

[activation.env]
# Ensure nuefsd links with conda sysroot startup objects (missing __libc_csu_init/fini otherwise).
[feature.build.dependencies]
c-compiler = "*"
maturin = "*"
uv = "*"

[pypi-dependencies]
sheaves = { path = "../sheaves", editable = true }
nuefs = { path = ".", editable = true }

[feature.build.activation.env]
CONDA_BUILD = "1"
PREFIX = "$CONDA_PREFIX"
CARGO_TARGET_X86_64_UNKNOWN_LINUX_GNU_RUSTFLAGS = "-C link-arg=$CONDA_PREFIX/x86_64-conda-linux-gnu/sysroot/usr/lib64/libc_nonshared.a"

[feature.build.tasks]
build = "maturin build --release"
develop = """
maturin develop --uv && \
cargo install --path . --root $CONDA_PREFIX --force && \
cargo run --bin stub_gen --features stub && \
cp $CONDA_PREFIX/bin/nuefsd $(dirname $CONDA_PREFIX)/default/bin/
"""

[environments]
build = ["build"]
